[mysqld]

#innodb_buffer_pool_size          = 128M
#join_buffer_size                 = 128M
#sort_buffer_size                 = 2M
#read_rnd_buffer_size             = 2M
datadir                          = /var/lib/mysql
socket                           = /var/lib/mysql/mysql.sock
secure-file-priv                 = /var/lib/mysql-files
user                             = mysql
pid-file                         = /var/run/mysqld/mysqld.pid
bind_address                     = 0.0.0.0
long_query_time                  = 60

binlog_checksum                  = NONE
gtid_mode                        = ON
enforce_gtid_consistency         = ON
log_bin
log_slave_updates                = ON
master_info_repository           = TABLE
relay_log_info_repository        = TABLE
transaction_write_set_extraction = XXHASH64
default_authentication_plugin    = mysql_native_password
sql-mode                         = NO_AUTO_VALUE_ON_ZERO

skip-host-cache
skip-name-resolve